@model string

<label for="inputPassword" asp-for="@Model" class="col-sm-2 col-form-label">Textarea</label>
<div class="col-sm-10">
    <textarea asp-for="@Model" class="form-control" style="height: 100px"></textarea>
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>